@import '../../node_modules/bulma/bulma.sass';

:root {
    --main-color: #14264D;
    --secondary-color: #D86E51;
}


.main-bg-color {
    background-color: var(--main-color);
}

.secondary-bg-color {
    background-color: var(--secondary-color);
}

.white-bg-color {
    background-color: #FFFFFF;
}

.main-text-color {
    color: var(--main-color);
}

.secondary-text-color {
    color: var(--secondary-color);
}

.default-font-size {
    font-size: 18px;
}

.white-text {
    color: #FFFFFF !important;
}

.navbar-button {
    border-color: transparent;
}

.main-form-button {
    border-color: transparent;
    background-color: var(--main-color);
    color: #FFFFFF;
}

.secondary-form-button {
    border-color: transparent;
    background-color: var(--secondary-color);
    color: #FFFFFF;
}

.ranking-item {
    display: flex;
    align-items: center;
}

.top-ranking-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px; 
    height: 36px; 
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.ranking-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px; 
    height: 36px; 
    background-color: transparent;
    border-radius: 50%;
}

.top-ranking-icon {
    color: #FFFFFF;
    font-size: 16px;
}

.ranking-icon {
    color: var(--primary-color);
    font-size: 16px;
}

.speciality-user-tag {
    font-size: 20px;
}

.case-file-stats {
    font-size: 18px;
}

.scrollable-div {
    overflow: auto;
    max-height: 720px;
}

.input-error {
    border-color: #F14668 !important;
}

.span-success {
    background-color: #67A88A !important;
    border-radius: 25px;
}

.span-error {
    background-color: #F14668 !important;
    border-radius: 25px;
}

.span-price-percent {
    color: var(--secondary-color);
    font-size: 26px;
}

.account-card-title {
    font-size: 18px;
}

.black-text {
    color: #000000;
}

.disabled-btn {
    background-color: #ADB5BD;
}

.tag-1 {
    background-color: #d1f7fa !important;
    font-size: 15px;
}

.tag-2 {
    background-color: #e3ddfa !important;
    font-size: 15px;
}

.tag-3 {
    background-color: #eff5fb !important;
    font-size: 15px;
}

.tag-4 {
    background-color: #dcfaec !important;
    font-size: 15px;
}

.tag-5 {
    background-color: #f7f6ba !important;
    font-size: 15px;
}

.tag-6 {
    background-color: #ffcfcf !important;
    font-size: 15px;
}

.selected-tag {
    border-color: #878787 !important;
    border-width: 2px !important;
}

.modal-footer-btns {
    justify-content: flex-end;
}